<footer class="main-footer">
	<div class="container">
		<a href="/"
		   class="pull-left swarm-logo icon icon-logo"></a>
		<nav class="footer-nav pull-right">
			<a href="/terms" target="_blank">Terms of use</a>
			<a href="/privacy-policy" target="_blank">Privacy policy</a>
			<a href="https://medium.com/@Swarm" target="_blank">Blog</a>
			<a href="https://discourse.swarm.fund" target="_blank">Forum</a>
			<a href="http://eepurl.com/WPUZ9" target="_blank">Newsletter</a>
		</nav>
	</div>
</footer>