<div class="header-right">
    <div class=" banner">
        <div class="slider" style="text-align: center;">
            <div class="callbacks_container">
                <div class="banner1">
                    <div class="six alpha columns">
                        <div class="screen-home" >
                            <div class="splash-content inverted ng-scope">
                                <section class="slider">
                                    <div class="container-2">
                                        <div class="slide slide-dco sixteen columns">
                                            <div class="six alpha columns">
                                                <div class="image-holder images-loaded" ">
                                                    <img ng-repeat-start="slideImage in slideImages track by $index" da-image-on-load load-callback="slideImageLoaded()" ng-src="images/1/{{$index+1}}g.png" alt="" />
                                                    <img ng-repeat-end da-image-on-load load-callback="slideImageLoaded()" ng-src="images/1/{{$index+1}}.png" alt="" />
                                                    <span class="swarm-logo"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section> 
                            </div>
                       </div>
                    </div>
                    <div class="col-sm-12">
                        <p>
                            <h2 class="m1-heading">swarm</h2>
                            <h3 class="m1-heading">the future of crowdfunding</h3>
                        </p>
                    </div>
                    <div class="col-sm-12 corwd-btn">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-6">
                            <a class="hvr-sweep-to-right more fix" href="https://swarm.fund/projects">start your project</a>
                            <a class="hvr-sweep-to-right more-transp" href="https://swarm.fund/projects">explore projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

	<!--header-bottom-->

<div class="content">
	<div class="content-grid">
		<div class="container-2">
            <div class="col-md-12 resp">
                <div class="col-md-1" style="width: 12%"></div>
                <div class="col-md-3 tighten">
			     	 <a href="" class="mask">
                        <img class="img-responsive zoom-img" src="images/col1.png" alt="">
                        <span class="four cp"><h3>crypto-equity</h3></span>
			     	 </a>
			     	   <div class="most-1">
			     	    	<p>
                            Swarm is a new way to fundraise. Rather than issuing merchandise or promising rewards for backing a crowdfund, issue supporters shares of your company/project in the form of tokens. <br/>
                            <a href="#crypto-equity" target="_self"><i>learn more</i></a>
                            </p>
			     	   </div>
                </div>
                <div class="col-md-3 tighten">
                    <a href="" class="mask">
                        <img class="img-responsive zoom-img" src="images/col2.png" alt="">
                        <span class="four dec"><h3>decentralized</h3></span>
			     	 </a>
		     	   <div class="most-1">
			     	    	<p>
                            Instead of a traditional business structure (like corporations or non-profits), projects on the Swarm platform are "Distributed Collaborative Organizations" (DCOs) where all supporters are entitled to equal sharing opportunities. This is democracy for business of the future.<br/>
                            <a href="#decentralized" target="_self"><i>learn more</i></a>
                            </p>
			     	   </div>
		      </div>
                
                <div class="col-md-3 tighten">
		     	 <a href="" class="mask">
                        <img class="img-responsive zoom-img" src="images/col3.png" alt="" >
                        <span class="four col"><h3>collaborative</h3></span>
			     	 </a>
		     	   <div class="most-1">
			     	    	<p>
                                Building a successful business can get complicated and finding great business partners can be difficult. The Swarm platform connects you with others who have valuable experience and are interested in collaboration. Working together has never been easier.<br/>
                             <a href="#collaborative" target="_self"><i>learn more</i></a>
                            </p>

			     	   </div>
		      </div>
		 	<div class="clearfix"> </div>
		</div>
	</div>
	</div>
<!--2nd section-->
		<div class="content-middle">

			<div class="container-2">
                <div class="col-md-1"></div>
                <div class="col-md-7">
                    <div class="embed">
                    <iframe src="https://player.vimeo.com/video/100726500?title=0&byline=0&portrait=0" width="700" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
                    </div>
                </div>
                <div class="mid-content">
                <!--<h3>our idea started here</h3>-->
                <p>
                    ideas are better when we can work together. we want everyone who participates to share the benefits of success.
                </p>
				</div>
			</div>
		</div>

<!--service-->
	<div class="services" id="crypto-equity">
        <div class="col-md-3 crypto">
            <div class="col-md-2 circle"></div>
        </div>
        <div class="col-md-6" style="padding: 0;">
            <div class="col-md-12 service-top"><h1>what is crypto-equity?</h1></div>
            <div class="col-md-12 crypto-p"><h3>we are merging <br/>cryptocurrency + crowdfunding</h3></div>
            <div class="col-md-12">
                <div class="col-md-11 crypto-text">
                    Issuing traditional equity can be complicated. Crypto-equity is a new form of sharing that simplifies this process. Once you establish your organisation on the Swarm platform, you can create your tokens, dictate their quantitative limits and issue them to participants. All tokens live in your Swarm Wallet which is built on the blockchain, so it's secure and traceable. 
            </div>
        </div>
                </div>
                <div class="clearfix"> </div>
            </div>
<!--//services-->
<!--features-->
		<div class="content-middle1">
			<div class="container-2">
				<div class="col-md-5">
                    <div class=" bottom-in1">
                    <div class="col-md-12 example">
                        <h3>we lead by example</h3>
                        <p>This is the breakdown of how Swarm distributes equity tokens.</p>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <a class="col-md-8 hvr-sweep-to-right more fix-1" href="https://poloniex.com/exchange#btc_swarm">purchase swarm tokens</a>
                        <a class="col-md-8 hvr-sweep-to-right more-transp" href="https://docs.google.com/spreadsheets/d/108ANCcl8fFzdUqD4RA80I4Uj1SLvFr6h6MU_T8wUZ2g/edit?usp=sharing">earn swarm tokens</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class=" bottom-in">
                    <img style="max-width: 100%;" src="images/example.png">
                    </div>
                </div>
			</div>
		</div>
<!--//features-->
<!--phone-->
    <div class="color-logo" id="decentralized">
        <div class="col-md-4 bg-clr"></div>
        <div class="col-md-4 lg-clr"><img src="images/logo_clr.png"></div>
        <div class="col-md-4"></div>
    </div>
	<div class="phone phone-bg">
		<div class="container-2">
            <div class="col-md-2"></div>
			<div class="col-md-8 phone-text" style="text-align: center">
				<h1 class="cent">why decentralized?</h1>
					<div class="text-1-bottom">
                    <p>The Distributed Collaborative Organization (DCO) structure helps brilliant ideas come to life. Find the help you need to fuel your idea. In exchange allow others to share equity in your projects. Success for you is success for everyone.</p>
					</div>
                    <div class="text-1-button">
                    <a href="https://swarm.fund/projects" class="hvr-sweep-to-right more fix">start your project</a>
                    <a href="https://swarm.fund/projects" class="hvr-sweep-to-right more-transp">explore projects</a>
                    </div>
                    <div class="col-md-6">
                        <div class="text-1">
                            <h5>freedom from traditional business structure</h5>
                        <p>Creating and distributing tokens on the Swarm platform is free. When you commit to crypto-equity crowdfunding, you share your idea with other interested people who are willing to contribute to make the project a success. All participants are entitled to equal sharing opportunities. It is democracy for businesses of the future.   </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-1">
                            <h5>accessibility</h5>
                        <p>The blockchain has allowed us to bring businesses fully into the digital age. You can collaborate with others to turn great ideas into reality.</p>
                            <h5>full transparency</h5>
                        <p>By hosting your project on the blockchain, all activities (transactions, decisions and project milestones) are public and secure.</p>
                        </div>
                    </div>
			</div>
            <div class="col-md-2"></div>
		</div>
	</div>
<!--//phone-->
	<div class="phone phone-bg2">
		<div class="container-2">
            <div class="col-md-2"></div>
			<div class="col-md-8 phone-text" style="text-align: center">
                <h3 style="margin-bottom: 20px;">popular DCO articles</h5>
                    <div class="col-md-6">
                        <div class="text-1">
                            <ul>
                            <li><a href="http://www.scribd.com/doc/255347578/SWARM-Working-Paper-Distributed-Networks-and-the-Law#scribd">the white paper</a></li>
                            <li><a href="https://medium.com/@rubenalexander/creating-your-own-distributed-collaborative-organization-f443bc686335">how to create your own DCO</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-1">
                            <ul>
                            <li><a href="https://docs.google.com/document/d/1NbtxiDl624fkv2fkJd2baP33-X2UtxrU8KvUjoS3Bgs/edit">DCO Step by Step guide</a></li>
                            <li><a href="https://docs.google.com/document/d/1QTWyAlgARQqhoyiRxxrqfDvEreSyN4dbm3xO1jyUstg/edit#heading=h.53mqhrqnxgbg">faq</a></li>
                            </ul>
                        </div>
                    </div>
			</div>
            <div class="col-md-2"></div>
		</div>
	</div>

    <div class="content-kickstart" id="collaborative">
        <h1>kickstart collaboration</h1>
    </div>

    	<div class="phone-work">
		<div class="container-2">
            <div class="col-md-2"></div>
			<div class="col-md-8 phone-text" style="text-align: center">
				<h3 style="margin-bottom: 20px;">get work done more efficiently</h3>
                    <div class="col-md-6">
                        <div class="text-1">
                        <h5 style="text-align: center"><img src="images/hands.png"></h5>
                        <p style="text-align: center">Empower the Swarm by donating a percentage of your project tokens to Swarm token owners.  We recommend 1-5%. It's a gesture of good faith that motivates others to contribute to your project. So goes the saying "good ideas attract success".</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-1">
                        <h5 style="text-align: center"><img src="images/right.png"></h5>
                            <p style="text-align: center">The Swarm platform provides you with open-source project management where you can assign tasks and reward contributors for completing them.<br/><br/>
                            As a contributor, apply your skill sets to help propel projects that interest you. Gone are the days of applying for work. </p>
                        </div>
                    </div>
			</div>
		</div>
	</div>

    <div class="content-yellow">
        <div class="container-2">
            <div class="col-md-2"></div>
			<div class="col-md-8 phone-text" style="text-align: center">
                <h3 style="margin-bottom: 20px;">collaborate with Swarm</h3>
                <a class="hvr-sweep-to-right more fix" href="http://discourse.swarm.fund/">the Swarm forum</a>
                <a class="hvr-sweep-to-right more fix" href="https://swarmfund.slack.com">swarm on Slack</a>
                <a class="hvr-sweep-to-right more fix" href="https://docs.google.com/forms/d/15mNeZ9nkakiXAFgDGTWxDOphed1ldxkaGyLsEo-qxOs/viewform">become an Agent</a>
                        <div class="col-md-12 social">
                    <a href="https://www.facebook.com/swarmcorp"><img src="images/facebook.png"></a>
                    <a href="https://twitter.com/swarmcorp"><img src="images/twitter.png"></a>
                    <a href="https://medium.com/@Swarm"><img src="images/myspace.png"></a>
                    <a href="https://vimeo.com/swarmcorp"><img src="images/vemo.png"></a>
                    <a href="https://www.reddit.com/r/swarm"><img src="images/uk.png"></a>
                    <a href="https://www.youtube.com/channel/UCaibgDrWuPuP92_U8bsWMXA/feed"><img src="images/youtube.png"></a>
                        </div>
			</div>
            <div class="col-md-2"></div>
		</div>
    </div>

<!--project--->
	<div class="project">
        <div class="see">
            <h4><a href="http://status.swarm.fund/">see what we're up to</a></h4>
        </div>
		<div class="container see-content">
            <div class="col-md-12">
				<div class="project-top">
                    <div class="col-md-12 space">
                        <h2>the swarm team</h2>
                    </div>
                    <div class="col-md-12">
                        <h4 class="space">swarm delegates</h4>
                        <div class="col-md-2 project-grid pull-left">
                            <div class="project-grid-top">
                                <img src="images/andrew.png" class="img-responsive zoom-img" alt=""/></a>
                                 <div class="col-md1">
                                     <div class="col-md2">
                                        <h5>Andrew Cook</h5>
                                     </div>
                                 </div>
                            </div>
                        </div>
                        <div class="col-md-2 project-grid pull-left">
                            <div class="project-grid-top">
                                <img src="images/ruben.png" class="img-responsive zoom-img" alt=""/></a>
                                 <div class="col-md1">
                                     <div class="col-md2">
                                        <h5>Ruben Brito</h5>
                                     </div>
                                 </div>
                            </div>
                        </div>
                        <div class="col-md-2 project-grid pull-left">
                            <div class="project-grid-top">
                                <img src="images/thomas.png" class="img-responsive zoom-img" alt=""/></a>
                                 <div class="col-md1">
                                     <div class="col-md2">
                                        <h5>Thomas Olson</h5>
                                     </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                    
					<div class="clearfix"> </div>

                    <div class="col-md-12">
                        <h4 class="space">swarm core team</h4>
                        <div class="col-md-2 project-grid pull-left">
                            <div class="project-grid-top">
                                <img src="images/caterina.png" class="img-responsive zoom-img team-img" alt=""/></a>
                                 <div class="col-md1">
                                     <div class="col-md2">
                                        <h5>Caterina Rindi</h5>
                                     </div>
                                 </div>
                            </div>
                        </div>
                        <div class="col-md-2 project-grid pull-left">
                            <div class="project-grid-top">
                                <img src="images/kathrine.png" class="img-responsive zoom-img team-img" alt=""/></a>
                                 <div class="col-md1">
                                     <div class="col-md2">
                                        <h5>Kathrine Reyes</h5>
                                     </div>
                                 </div>
                            </div>
                        </div>
                        <div class="col-md-2 project-grid pull-left">
                            <div class="project-grid-top">
                                <img src="images/pavlo.png" class="img-responsive zoom-img team-img" alt=""/></a>
                                 <div class="col-md1">
                                     <div class="col-md2">
                                        <h5>Pavlo Shandro</h5>
                                     </div>
                                 </div>
                            </div>
                        </div>
                        <div class="col-md-2 project-grid pull-left">
                            <div class="project-grid-top">
                                <img src="images/andy.png" class="img-responsive zoom-img team-img" alt=""/></a>
                                 <div class="col-md1">
                                     <div class="col-md2">
                                        <h5>Andy Tudhope</h5>
                                     </div>
                                 </div>
                            </div>
                        </div>
                        <div class="col-md-2 project-grid pull-left">
                            <div class="project-grid-top">
                                <img src="images/zeeshan.png" class="img-responsive zoom-img team-img" alt=""/></a>
                                 <div class="col-md1">
                                     <div class="col-md2">
                                        <h5>Zeeshan Arif</h5>
                                     </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="clearfix"> </div>

                    <div class="col-md-12">
                        <h4 class="space">notable swarm agents</h4>
                        <div class="col-md-2 project-grid pull-left">
                            <div class="project-grid-top">
                                <img src="images/joel.png" class="img-responsive zoom-img" alt=""/></a>
                                 <div class="col-md1">
                                     <div class="col-md2">
                                        <h5>Joel Dietz<br/>
                                        Agent X<br/>
                                        Swarm Founder</h5>
                                     </div>
                                 </div>
                            </div>
                        </div>
                        <div class="col-md-2 project-grid pull-left">
                            <div class="project-grid-top">
                                <img src="images/kennedy.png" class="img-responsive zoom-img" alt=""/></a>
                                 <div class="col-md1">
                                     <div class="col-md2">
                                        <h5>Scott Kennedy<br/>
                                        CEO <br/>
                                        Openlabel</h5>
                                     </div>
                                 </div>
                            </div>
                        </div>
                        <div class="col-md-2 project-grid pull-left">
                            <div class="project-grid-top">
                                <img src="images/david.png" class="img-responsive zoom-img" alt=""/></a>
                                 <div class="col-md1">
                                     <div class="col-md2">
                                        <h5>David Bressler<br/>
                                        VP Financial Solutions<br/>
                                        CA Techonologies</h5>
                                     </div>
                                 </div>
                            </div>
                        </div>
                        <div class="col-md-2 project-grid pull-left">
                            <div class="project-grid-top">
                                 <img src="images/michael.png" class="img-responsive zoom-img" alt=""/></a>
                                 <div class="col-md1">
                                     <div class="col-md2 grosser">
                                            <h5>Michael Grosser<br/>
                                            CEO<br/>
                                            SeeTheProgress | OpenSource + Blockchain consultancy</h5>
                                     </div>
                                 </div>
                            </div>
                        </div>
                        <div class="col-md-2 project-grid pull-left">
                            <div class="project-grid-top">
                                <img src="images/ccm.png" class="img-responsive zoom-img" alt=""/></a>
                                 <div class="col-md1">
                                     <div class="col-md2">
                                        <h5>Writers<br/>
                                           CryptoCurrency Magazine
                                       </h5>
                                     </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="col-md-12">
                        <h4 class="space-collab">collaborative partners</h4>
                        <div class="col-md-6 project-grid">
                                <div class="project-grid-top">
                                <a href="http://whizpool.com/" class="mask"><img src="images/whizpool.png" class="img-responsive zoom-img" alt=""/></a>
                                </div>
                            </div>
                        <div class="col-md-6 project-grid">
                                <div class="project-grid-top">
                                <a href="http://www.citizencode.io/" class="mask"><img src="images/citizen.png" class="img-responsive zoom-img" alt=""/></a>
                                </div>
                            </div>
                    </div>
				</div>
		</div>
        <div class="clearfix"> </div>
	</div>
	</div>
<!--footer-->
<div class="footer">
	<div class="container-2">
		<div class="footer-top-at">
            <div class="col-md-2"></div>
			<div class="col-md-3 amet-sed">
				<ul class="nav-bottom">
					<li><a href="https://swarm.fund/">home</a></li>
					<li><a href="https://medium.com/@Swarm/history-of-the-swarm-83ff0fc80a8">history of swarm</a></li>
					<li><a href="https://discourse.swarm.fund/t/mission-and-core-values/33">mission and core values</a></li>
					<li><a href="https://docs.google.com/spreadsheets/d/1fcQr1pX8b4QwZqX1ruEUDx2S1KOzoLhViRASNJBo5FU/edit#gid=0">financials</a></li>
                    <li><a href="http://www.swarmbot.io">swarmbot</a></li>
				</ul>
			</div>
			<div class="col-md-3 amet-sed ">
					<ul class="nav-bottom">
                    <li><a href="https://poloniex.com/exchange#btc_swarm">purchase Swarm tokens</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/108ANCcl8fFzdUqD4RA80I4Uj1SLvFr6h6MU_T8wUZ2g/edit?usp=sharing">earn Swarm tokens</a></li>
                    <li><a href="https://docs.google.com/document/d/1QTWyAlgARQqhoyiRxxrqfDvEreSyN4dbm3xO1jyUstg/edit#heading=h.53mqhrqnxgbg">DCO faq</a></li>
                    <li><a href="http://discourse.swarm.fund/">the swarm forum</a></li>
                    <li><a href="https://docs.google.com/forms/d/15mNeZ9nkakiXAFgDGTWxDOphed1ldxkaGyLsEo-qxOs/viewform">Swarm Agent application</a></li>	
					</ul>
			</div>
			<div class="col-md-3 amet-sed ">
				   <ul class="nav-bottom">
                    <li><a href="http://status.swarm.fund/">team status</a></li>
                    <li><a href="http://web.archive.org/web/20150610031203/http://a.pomf.se/chmtyp.html">press</a></li>
                    <li><a href="https://docs.google.com/forms/d/15mNeZ9nkakiXAFgDGTWxDOphed1ldxkaGyLsEo-qxOs/viewform">contact</a></li>
                    <li><a href="https://medium.com/@Swarm">blog</a></li>
                    <li><a href="http://swarmcorp.us8.list-manage1.com/subscribe?u=4732a1fb776368d4ae20d1c89&id=0b6d6debd1">newsletter</a></li>
                    <li><a href="https://swarm.fund/terms">terms of use</a></li>
                    <li><a href="https://swarm.fund/privacy-policy">privacy policy</a></li>
					</ul>
					<ul class="social">
                    <li><a href="https://www.facebook.com/swarmcorp"><img src="images/fb.png" /></a></li>
                    <li><a href="https://twitter.com/swarmcorp"><img src="images/tw.png" /></a></li>
                    <li><a href="https://medium.com/@Swarm"><img src="images/ms.png" /></a></li>
                    <li><a href="https://vimeo.com/swarmcorp"><img src="images/vm.png" /></a></li>
                    <li><a href="https://www.reddit.com/r/swarm"><img src="images/fold.png" /></a></li>
                    <li><a href="https://www.youtube.com/channel/UCaibgDrWuPuP92_U8bsWMXA/feed"><img src="images/yt.png" /></a></li>
					</ul>
			</div>
		<div class="clearfix"> </div>
		</div>
    </div>
</div>