<div da-spinner ng-show="loading"></div>
<div class="container">
	<div class="login-form-popup">
		<form class="login-form six centered columns loading"
		      name="form.login"
		      ng-submit="login()"
		      novalidate>
			<div class="five centered columns">
				<h4>Login</h4>
				<label>
					<span class="error" ng-show="hasError(form.login.email)">{{form.login.email.errorMessage}}</span>
					<input da-autofill
					       type="email"
					       name="email"
					       placeholder="Email Address"
					       ng-pattern="/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))$/i"
					       ng-model="login.email"
					       ng-required="true" />
				</label>
				<label>
					<span class="error" ng-show="hasError(form.login.password)">{{form.login.password.errorMessage}}</span>
					<input da-autofill
					       type="password"
					       name="password"
					       placeholder="Password"
					       ng-model="login.password"
					       ng-required="true" />
				</label>
				<a href
				   class="forgot-password"
				   ng-click="forgotPassword()">Forgot password?</a>
				<input type="submit" value="Log in" />
				<p>
					Don't have an account?
					<a href ng-click="goToSignUp()">Sign up</a>
				</p>
			</div>
		</form>
	</div>
</div>