<div class="content">
	<div class="container">
		<h1><b>Privacy</b> Policy</h1>
		<h2>(Last updated: October 21, 2014)</h2>
		<div class="legal-block">
			<p>This Privacy Policy, as amended or otherwise changed from time to time (the “Privacy Policy”), explains the manner in which EVRGR (“Swarm”) collects, uses, maintains and discloses user information obtained through the swarm.co website (the “Site”). The terms “we,” “us,” and “our” refer to Swarm. By using the Site, you consent to the data practices prescribed in this Privacy Policy. On occasion, Swarm may revise this Privacy Policy to reflect changes in law, our personal data collection and use practices, the features on the Site, or advances in technology.  If material changes are made to this Privacy Policy, the changes will be prominently posted on the Site.</p>
		</div>

		<div class="legal-block">
			<h3>Information collected</h3>
			<p><b>General Information.</b> We collect and store information you enter on our Site. We may collect or receive the following identifying information about you:</p>
			<ul>
				<li><p>First and Last Name</p></li>
				<li><p>Email Address</p></li>
				<li><p>Country of Residence</p></li>
				<li><p>Additional information that may help us validate your identity, including address, date of birth, and phone number.</p></li>
			</ul>
			<p><b>Automatic Information.</b> We automatically collect some information about your computer, tablet or mobile device when you visit the Site, or open a communication from Swarm, including your IP address and browser software (such as Firefox, Safari, Chrome or Internet Explorer).</p>
			<p>In order to help protect you from fraud and misuse of your personal information, we may collect information about your use and interaction with our website or Swarm services. For example, we may evaluate your computer, mobile phone or other access device to identify any malicious software or activity that may affect the availability of Swarm services.</p>
		</div>

		<div class="legal-block">
			<h3>How we use your information</h3>
			<p>We use information about you to provide you with the Swarm services, which may include but is not limited to:</p>
			<ul>
				<li><p>Preventing potentially fraudulent or illegal activities;</p></li>
				<li><p>Personalizing your user experience;</p></li>
				<li><p>Providing customer support services;</p></li>
				<li><p>Improving our Site and services;</p></li>
				<li><p>Marketing, advertising or promotional efforts; and</p></li>
			</ul>
		</div>

		<div class="legal-block">
			<h3>How we share your information</h3>
			<p>We may share your personal information with the following entities:</p>
			<ul>
				<li><p>Project Creators – Each Project will be provided with the name and email address of each Backer, their Pledge Amount, and the corresponding Reward.</p></li>
				<li><p>Third-party vendors who provide services or functions on our behalf, including business analytics, customer service, marketing, and fraud prevention.</p></li>
				<li><p>Business partners with whom we may jointly offer products or services, or whose products or services may be offered on our Site.  Please note that we do not control the privacy practices of these business partners.</p></li>
			</ul>
			<p>We also may share your information:</p>
			<ul>
				<li><p>In response to subpoenas, court orders, or other legal process; to establish or exercise our legal rights; to defend against legal claims; or as otherwise required by law. In such cases we reserve the right to raise or waive any legal objection or right available to us.</p></li>
				<li><p>When we believe it is appropriate to investigate, prevent, or take action regarding illegal or suspected illegal activities; to protect and defend the rights, property, or safety of our company or this Site, our users, or others; and in connection with our Platform Services Agreement.</p></li>
			</ul>
			<p>Other than as set out above, you will be notified when personal information about you will be shared with third. We also may share aggregate or anonymous information with third parties, including investors and banking partners. This information does not contain any personal information and is used to develop the Swarm services.</p>
		</div>

		<div class="legal-block">
			<h3>How you can access and update your information</h3>
			<p>You can access and update your contact information logging into your Swarm account and accessing your account dashboard. You can close your account by contacting us at the email address listed below. Please note that after you close an account, you will not be able to sign in or access any of your personal information. However, you can open a new account at any time. Please also note that we may retain certain information associated with your account, including for analytical purposes as well as for record keeping integrity.</p>
		</div>

		<div class="legal-block">
			<h3>Cookies & persistent local data</h3>
			<p>Cookies are small data text files and can be stored on your computer's hard drive (if your Web browser permits). The Site uses cookies for the following purposes:</p>
			<ul>
				<li><p>Analytics/Log Files. Our Site and services gather certain information automatically and store it in log files. This information includes internet protocol (IP) addresses, browser type, internet service provider (ISP), operating system, date/time stamp, and clickstream data;</p></li>
				<li><p>To provider you with a better user experience; and</p></li>
				<li><p>Improve the effectiveness and efficiency of the Swarm services.</p></li>
			</ul>
		</div>

		<div class="legal-block">
			<h3>How we protect your information</h3>
			<p>We want you to feel comfortable using our Site, and we are committed to protecting the information we collect and receive from you. While we cannot guarantee security, we have implemented appropriate administrative, technical, and physical security procedures to help protect the personal information that is collected and stored, and information that you provide to us directly For example, we use encryption when transmitting your sensitive personal information between your system and ours, and we employ firewalls and intrusion detection systems to help prevent unauthorized persons from gaining access to your information.</p>
		</div>

		<div class="legal-block">
			<h3>External links</h3>
			<p>If any part of the Site links you to external websites or applications (each an “External Site”), those External Sites do not operate under this Privacy Policy. We recommend you examine the privacy statements posted on the External Sites to understand their procedures for collecting, using, and disclosing personal information.</p>
		</div>

		<div class="legal-block">
			<h3>Visiting our website from outside the united states</h3>
			<p>If you are visiting our website from outside the United States, please be aware that your information may be transferred to, stored, and processed in the United States, where our servers are located and our central database is operated. The data protection and other laws of the United States and other countries might not be as comprehensive as those in your country, but please be assured that we take steps to ensure that your privacy is protected. By using our services, you understand that your information may be transferred to our facilities and those third parties with whom we share it as described in this Policy.</p>
		</div>

		<div class="legal-block">
			<h3>How you can contact us</h3>
			<p>If you have questions about either this Privacy Policy, please email us at <a href="mailto:support@swarmcorp.com">support@swarmcorp.com</a>.</p>
		</div>

	</div>
</div>
