<div class="wallet-confirmation container">
	<h1>Confirm!</h1>
	<div class="six centered columns">
		<p>
			I confirm that I’ve saved my passphrase somewhere very safe and that I will be able to access it again.
			I also confirm i realize that if I ever lose this passphrase I will completely lose access to all my Bits.
			I also confirm that if I let anyone else have this passphrase I may lose access to all my Bits.
		</p>
		<a class="simple green button"
		   ng-click="walletDownloadConfirm()">
			I saved my passphrase
		</a>
		<a href
		   ng-click="getPaperWallet()">Download</a>
	</div>
</div>