<div class="container">
	<div da-spinner ng-show="loading"></div>
	<div class="login-form-popup">
		<form class="login-form update-password six columns loading"
		      name="form.update"
		      ng-submit="update()"
		      novalidate>
			<div class="five centered columns">
				<h4>Please update your password</h4>
				<label>
					<span class="error" ng-show="hasError(form.update.newPassword)">{{form.update.newPassword.errorMessage}}</span>
					<input type="password"
					       name="newPassword"
					       placeholder="New password"
					       ng-model="update.newPassword"
					       ng-required="true" />
				</label>
				<input type="submit" value="Update" />
				<!--<a href>Sign up</a>-->
			</div>
		</form>
	</div>
</div>