<header da-checkout-header></header>
<section da-checkout-user
         class="container">
	<div class="user eight columns centered">
		<h2 class="screen-title">Log in</h2>
		<p class="step-description">
			Please log in or sign up before you can continue.
		</p>
		<div class="user-login">
			<a href
			   class="three centered columns grey button"
			   ng-click="showLoginForm()">Login</a>
			<a href
			   class="link-signup"
			   ng-click="showSignupForm()">Sign up</a>
		</div>
	</div>
</section>