<div class="cms-company cms-section">
	<h5>Company</h5>
	<div ng-form="form.cms.projectCompany">
		<label>
			Description
		<textarea redactor
		          name="projectCompanyDescription"
		          ng-model="projectData.company.description"></textarea>
		</label>
		<label>
			Phone number
			<input type="text"
			       name="projectCompanyPhone"
			       ng-model="projectData.company.phone" />
		</label>
		<label>
			Email
			<input type="text"
			       name="projectCompanyEmail"
			       ng-model="projectData.company.email" />
		</label>
		<label>
			Website
			<input type="text"
			       name="projectCompanyWebsite"
			       ng-model="projectData.company.website" />
		</label>
		<label>
			Forum
			<input type="text"
			       name="projectCompanyForum"
			       ng-model="projectData.company.forum" />
		</label>
		<label>
			Facebook
			<input type="text"
			       name="projectCompanyFacebook"
			       ng-model="projectData.company.facebook" />
		</label>
		<label>
			Twitter
			<input type="text"
			       name="projectCompanyTwitter"
			       ng-model="projectData.company.twitter" />
		</label>
		<label>
			Youtube
			<input type="text"
			       name="projectCompanyYoutube"
			       ng-model="projectData.company.youtube" />
		</label>
		<label>
			Hashtag
			<input type="text"
			       name="projectHashtag"
			       ng-model="projectData.project_hashtag" />
		</label>
	</div>
</div>